.pedido-insert input{
    background: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: dimgray;
}
 
.pedido-insert label{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.form-pedido {
    background-color: yellow;
    max-width: 300px;
    width: 100%;
    border: 2px solid #292C2E;
    border-radius: 5px;
    position:absolute;
    margin: 25px 25px 25px 42%;
}

.form-pedido div {
    position: relative;
    margin: 5% 20% 5% 20%;
}

.form-pedido legend {
    position:relative;
    margin: 5% 20% 1% 25%;
}

.form-pedido .submit-button {
    position:relative;
    margin: 5% 20% 3% 35%;
}

.form-pedido .go-back {
    position:relative;
    margin: 5% 20% 3% 20%;
}
