.criar article a{
    background-color: white;

}

.produto-insert input{
    background: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: dimgray;
}
 
.produto-insert label{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
