.cliente-info {
    max-width: 800px;
    margin: 20px auto 0;
    padding: 0 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
 
.cliente-info h1 {
    font-size: 32px;
    color: black;
    line-height: 24px;
    margin-top: 5px;
    padding: 10px 0px;
}

.button {
    margin: 20px auto 20px;
}